# Node modules & build outputs
/node_modules
/dist
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Test coverage
/coverage
/.nyc_output

# Environment files
.env
.env.*.local

# Temporary files
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# IDEs & editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

src/config/thoixinproject-firebase-adminsdk-fbsvc-b6e894dd36.json
